

/**
 * Wires :
 */

canvas.WireIt-Wire {
   position: absolute;
   border: 0;
   z-index: 0;
}

canvas.WireIt-Wire-editing {
   z-index: 10;
}


/**
 * Terminals :
 */

div.WireIt-Terminal {
   width: 14px;
   height: 14px;
   cursor: pointer;   
   background-image: url(../images/term-blank.png);
}

div.WireIt-Terminal-connected {
   background-image: url(../images/term-connected.png);
}

div.WireIt-Terminal-dropinvite {
   width: 30px;
   height: 30px;
   margin: -8px;
   background-image: url(../images/term-dropinvite.png);
}

/**
 * BoxIO
 */
div.WireIt-BoxIO {
	position: absolute;
	z-index: 5;
	opacity: 0.8;
	cursor: move;
}