<div class="intro">
<p>
This example demonstrates how to create Containers.
</p>
</div>

<div class="example" id="exampleContainer">
    <div style="position: relative; width: 800px; height: 400px;" id="layer"></div>

    <script>
{{>creating-containers-code}}
    </script>
</div>

<h2>HTML</h2>

```
<div style="position: relative; width: 800px; height: 400px;" id="layer"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>creating-containers-code}}
```
