
<div class="intro">
  <p>Containers are "boxes", containing one or more Terminals. Containers are willingly generic, so that an application can easily create custom Containers.</p>
</div>


{{>getting-started}}

<h2>Using {{displayName}}</h2>

<h3>Quick Start</h3>

<p>TODO.</p>


<h3>Creating new containers/Extending existing containers</h3>

<p>TODO</p>