
h1 {
	margin-top: 20px;
}

h2 {
	margin-top: 15px;
}

h3 {
	margin-top: 10px;	
}

p.advanced {
	margin-left: 20px;
	background-color: #EEEEEE;
	padding: 10px 10px 10px 30px;
	background-image: url(SyntaxHighlighter/help.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}