<div class="intro">
<p>
This example demonstrates how to create an {{displayName}}.
</p>
</div>

<div class="example">

<div style="position: relative; width: 500px; height: 277px;" id="layer"></div>

    <script>
{{>bezier-basic-code}}
    </script>
</div>

<h2>HTML</h2>

```
<div style="position: relative; width: 500px; height: 277px;" id="layer"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>bezier-basic-code}}
```
