
<div class="intro">
  <p>Terminals are responsible for the graph edition :</p>

  <img src="{{projectAssets}}/terminal/wire_terminals.png" />

<ul>
<li>You can create a Wire by dragging a terminal to another one</li>
<li>You can destroy all the wires connected to a terminal by clicking on the scissors</li>
</ul>

<p>Terminals have various configuration options, such as the number of wires that can be connected to them, wether they are editable or not, or style informations about the wires that are connected. Check out this example to see some of those properties in action.</p>

  <p>At this time, two Terminals can only be connected using one Wire only.</p>
</div>


{{>getting-started}}

<h2>Using {{displayName}}</h2>

<h3>Quick Start</h3>

<p>TODO.</p>
