
/**
 * Container
 * TODO: find another way than repeating 4 rules...
 */

.yui3-container,
.yui3-form-container,
.yui3-image-container,
.yui3-inout-container {
	z-index: 5;
}

.yui3-container-focused {
	z-index: 6;
}

.yui3-container-content,
.yui3-form-container-content,
/*.yui3-image-container-content,*/
.yui3-inout-container-content {
	border: 2px solid #3366CC;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	position: relative;
	background-color: white;
}

.yui3-container-content .yui3-widget-hd,
.yui3-form-container-content .yui3-widget-hd,
.yui3-inout-container-content .yui3-widget-hd,
.yui3-image-container-content .yui3-widget-hd {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	background-color: #3366CC;
	color: white;
	cursor: move;
	padding: 2px 7px;
}

.yui3-container-content .yui3-widget-ft,
.yui3-form-container-content .yui3-widget-ft,
.yui3-inout-container-content .yui3-widget-ft,
.yui3-image-container-content .yui3-widget-ft {
	background-color: #ccc;
	font-style: italic;
	font-size: 80%;
	position: absolute;
	bottom: 0;
	width: 100%;
}


.yui3-container-icon {
	position: absolute;
	right: 10px;
	top: 2px;
}
