/**
 * Scissors
 */

.yui3-terminal-scissors {
   visibility: hidden;
   border: 0;
   z-index: 7;
   width: 16px;
   height: 16px;
   background-color: transparent;
   background-image: url(cut.png);
   cursor: pointer;
}
/* connected terminal: show scissors */
.yui3-terminal-connected .yui3-terminal-scissors {
	visibility: inherit;
}
