<div class="intro">
<p>
This example demonstrates how to create a FormContainer.
</p>
</div>

<div class="example">

    <script type="text/javascript" src="../../lib/inputex/src/loader.js"></script>
    <script>YUI_config.groups.inputex.base = '../../lib/inputex/src/';</script>
    <div style="position: relative; width: 300px; height: 200px;" id="layer"></div>

    <script>
{{>basic-form-container-code}}
    </script>
</div>

<h2>HTML</h2>

```
<script type="text/javascript" src="../../lib/inputex/src/loader.js"></script>
<script>YUI_config.groups.inputex.base = '../../lib/inputex/src/';</script>

<div style="position: relative; width: 300px; height: 200px;" id="layer"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>basic-form-container-code}}
```
