<div class="intro">
<p>
<img src="{{componentAssets}}/img/autocomplete-01.png" alt="Screenshot of the AutoComplete list widget" style="border: 1px solid #bfbfbf; float:right; height:161px; margin: 0 0 8px 8px; width:272px;">
The AutoComplete widget provides a flexible, configurable, and accessible implementation of the <a href="http://developer.yahoo.com/ypatterns/selection/autocomplete.html">AutoComplete design pattern</a>, which offers suggestions or provides some other form of filtering or completion as a user types text in an input field.
</p>

<p>
In addition to the core logic for filtering and completion, AutoComplete also provides options for custom filtering, highlighting, and formatting of results; delimited queries; result retrieval from a variety of local and remote sources including <a href="http://developer.yahoo.com/yql/">YQL</a>, JSONP, and XHR; and more.
</p>

<p>
AutoComplete is also built to be modular and easy to extend so that it can be used as the basis for custom implementations and widgets.
</p>
</div>

{{>getting-started}}

<h2>Using AutoComplete</h2>
<h3>Quick Start</h3>
