
<div class="intro">
  <p>The {{displayName}} provides a straight wire implementation.</p>
</div>


{{>getting-started}}

<h2>Using {{displayName}}</h2>

<h3>Quick Start</h3>

<p>Instantiate a Y.Graphic object, and add a shape with the type <i>Y.Wire</i>. See <a href="wire-basic.html">wire-basic.html</a>.</p>
