
<div class="intro">
  <p>A Layer handles multiple containers and connected wires. It keeps an internal representation of the whole graph and is responsible for saving/loading a graph.</p>
</div>


{{>getting-started}}

<h2>Using {{displayName}}</h2>

<h3>Quick Start</h3>

<p>TODO.</p>
