<div class="intro">
<p>
This example demonstrates how to use the Layer.
</p>
</div>

<div class="example">
    <div style="position: relative; width: 800px; height: 500px;" id="layer"></div>

    <script>
{{>layer-example-code}}
    </script>
</div>

<h2>HTML</h2>

```
<div style="position: relative; width: 800px; height: 500px;" id="layer"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>layer-example-code}}
```
